.loading {
      @include flex(flex-start, center);
      height: 100vh;
      width: 100%;
      padding-top: 20px;
      span {
            font-size: 4rem;
            font-weight: 600;
      }
}
